



title{
    font-size: 24px;
    line-height: 18px;
    color:red;
}
body{
    background-size:cover;
    background-color: maroon;
}
h1{
    
    color:white;
    font-family: Impact, fantasy;
}
p{
    font-size: 12px;
    line-height: 14px;
    color:black;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
.column{
    float: left;
    width:50%;
}

.photo{
    width:90%;
    height:width;

    margin-left: 5%;
    margin-right: 5%;
    border: 3px solid black;
    background-color: rgb(226, 179, 9);
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}
.generated-content{
    margin-left: 5%;
    margin-right: 5%;
    width:90%;
    border: 3px solid black;
    background-color:white;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
}
.button{
    font-size: 20px;
    line-height: 14px;
    color:black;
    background-color: gold;
}
a{
    width:80%;
    background-color: white;
    border: 3px solid black;
    color:maroon;
    padding-top: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    top:5000;
    margin-left:5%;

}
